@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: roboto, sans-serif;
    overflow: hidden;
}

.nav-item.active {
    font-weight: 800;
}

#navbar {
    transition: linear 0.5s;
}

#navbar.scroll {
    background-color: #fff;
    color: #000;
    opacity: 70%;
    transition: linear 0.5s;
}

.fullscreen {
    height: 100vh;
}

.bg-abu {
    background-color: #f2f2f2;    
}

#about {
    background: url('../img/bg.png') center fixed;
    background-size: cover;
}

.overlay {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.social a {
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    color: #fff !important;
    text-decoration: none;
    transition: linear 0.2s;
} 

.social a:hover {
    color: #000 !important;
    text-decoration: none;
    background-color: #fff;
    transition: linear 0.2s;
} 

.image-container{
    background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}

.image-container img{
    height: 50vh;
    border: 5px solid white;
}

.green-icon{
    background-color: #4cd137;
    position: absolute;
    right: 10%;
    bottom: 12%;
    height: 10%;
    width: 10%;
    border:5px solid white;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    body {
        overflow: scroll;
    }

    #about.fullscreen .overlay {
        padding-bottom: 70px;
        padding-top: 70px;
    }

    .fullscreen {
        min-height: 100vh;
        height: auto;
        padding-bottom: 70px;
        padding-top: 70px;
    }

    #about.fullscreen {
        min-height: 100vh;
        height: auto;
        padding-bottom: 0px;
        padding-top: 0px;
    }
}